<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @list.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @list.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @list.user %>
</p>

<% if current_user.id === @list.user_id %>
<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Destroy', @list, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', lists_path %>
<% end %>
