<h1><%= @list.title %></h1>
<h4>A list by <%= link_to @list.user.try(:username), @list.user %></h4>
<p>
  <%= @list.description %>
</p>

<ul>
	<%= render @list.movies %>
</ul>

<% if current_user.id === @list.user_id %>
	<%= link_to 'Edit', edit_list_path(@list) %> |
	<%= link_to 'Destroy', @list, method: :delete, data: { confirm: 'Are you sure?' } %> |
	<%= link_to 'Back', lists_path %>
<% end %>
