<li><%= image_tag(movie.image, width:'180', height: '270') %></li>
<li><%= movie.title %></li>
<li><%= movie.description %></li>
<li><%= movie.format %></li>
<li><%= link_to 'More Info', movie %></li>