<h1><%= @title %></h1>

<ul>
<% @movies.each do |movie| %>
<div class= "border">
    <li><%= movie.title %></li>
    <li><%= movie.description %></li>
    <li><%= image_tag(movie.image, width:'180', height: '270') %></li>
    <li><%= movie.format %></li>
    <li><%= link_to 'More Info', movie %></li>
<% end %>
</div>
</ul>

<br>

<%= link_to 'New Movie', new_movie_path %>