<h1><%= @title %></h1>

<div id="movie-container">
	<% @movies.each do |movie| %>
		<div class= "movie-tile">
			<ul>
				<li><%= image_tag movie.image, :class => "movie-tile-image" %></li>
				<li id="title"><%= movie.title %></li>
				<div class="rw-ui-container"></div>
				<li><%= movie.description.try(:truncate, 100) %></li>
				<li><%= movie.format %></li>
				<li><%= link_to 'More Info', movie %></li>
			</ul>
		</div>
	<% end %>
</div>

<br>

<%= link_to 'New Movie', new_movie_path %>