<header>
<h1>WhatToWatch365</h1>
<nav>
 <li><%= link_to 'Home', discover_path, :class => 'item' %>
    </li>
  <li><%= link_to 'Discover', discover_path, :class => 'item' %>
  </li>
    <li><%= link_to 'Movies', movies_path, :class => 'item' %>
    </li>
  
    <li><%= link_to 'TV Shows', tv_shows_path, :class => 'item' %>
    </li>
 
 <li><%= link_to 'Explore', tv_shows_path, :class => 'item' %>
 </li>
 <li></li>
 <li>
 		<%= search_form_for @q, url: discover_path, class: "navbar-form", id: "search-form" do |f| %>
    <%= f.text_field :title_cont, class: "span2 search-bar", placeholder: "Search Movies, TV Shows and Actors" %>
    <button class="btn search-button" type="submit">Search</button>
   <% end %>
</li>
</nav>
<!-- When submit the form, the view rendered will be the index view of our articles resource -->
</header>



<% flash.each do |name, message| %>
<div class="flash-message flash-message-<%= name %>">
	<%= message %>
</div>
<% end %>