
<li><%= link_to 'Discover', movies_path %></li>
<li><%= link_to 'Movies', movies_path %></li>
<li><%= link_to 'TV Shows', movies_path %></li>

<a href="#" data-dropdown="hover1" data-options="is_hover:true; hover_timeout:5000">Explore</a>
<ul id="hover1" class="f-dropdown" data-dropdown-content>
 <li><%= link_to 'Lists', lists_path %></li>
 <li><%= link_to 'People', users_path %></li>
</ul>
