<li><%= link_to 'Movies', movies_path %></li>
<li><%= link_to 'New Movie', new_movie_path %></li>
<li><%= link_to 'Lists', lists_path %></li>
<li><%= link_to 'New List', new_list_path %></li>
<li><%= link_to 'Users', users_path %></li>
<li><%= link_to 'Register', new_user_registration_path %></li>
<li><%= link_to 'Register', new_user_session_path %></li>
<li>Logout</li>
<li><%= link_to 'Profile', "#" %></li>
<li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
