<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= content_for?(:title) ? yield(:title) : "WhatToWatch365" %></title>
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'header' %>
  <div class="row">
    <div class="large-12 columns">     
     <%= yield %>
   </div>
 </div>

 <script type="text/javascript">(function(d, t, e, m){
     
     // Async Rating-Widget initialization.
     window.RW_Async_Init = function(){
                 
         RW.init({
             huid: "266578",
             uid: "2e9ccb4c3b4bdc5901a4148453ae55bd",
             source: "website",
             options: {
                 "size": "medium",
                 "style": "oxygen",
                 "isDummy": false
             } 
         });
         RW.render();
     };
         // Append Rating-Widget JavaScript library.
     var rw, s = d.getElementsByTagName(e)[0], id = "rw-js",
         l = d.location, ck = "Y" + t.getFullYear() + 
         "M" + t.getMonth() + "D" + t.getDate(), p = l.protocol,
         f = ((l.search.indexOf("DBG=") > -1) ? "" : ".min"),
         a = ("https:" == p ? "secure." + m + "js/" : "js." + m);
     if (d.getElementById(id)) return;              
     rw = d.createElement(e);
     rw.id = id; rw.async = true; rw.type = "text/javascript";
     rw.src = p + "//" + a + "external" + f + ".js?ck=" + ck;
     s.parentNode.insertBefore(rw, s);
     }(document, new Date(), "script", "rating-widget.com/"));</script>
</body>
</html>